<div class="footerContainer">
    <div>Developed by Jonathan Andrade Valenzuela</div>
    <a href="https://github.com/jmv1006"><img class="gitLogo" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" /></a>
</div>