<div class="headerContainer">
    <div class='headerTitle'>MEMBERS ONLY</div>
    <% if(currentUser) { %>
        <a href="/create-message" class="redirectLink">Create Message</a>
        <a href="/log-out" class="redirectLink">Sign Out</a>
    <% } else { %>
        <a href="/sign-in" class="redirectLink">Sign In</a>
        <a href="/sign-up" class="redirectLink">Sign Up</a>
    <% } %>
</div>