<div class="headerContainer">
    <a class='headerTitle' href="/">MEMBERS ONLY</a>
    <% if(currentUser) { %>
        <a href="/create-message" class="redirectLink">Create Message</a>
        <a href="/sign-out" class="redirectLink">Sign Out</a>
    <% } else { %>
        <a href="/sign-in" class="redirectLink">Sign In</a>
        <a href="/sign-up" class="redirectLink">Sign Up</a>
    <% } %>
</div>