<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Create Message</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/create-message.css">
    </head>
    <body>
        <div class="mainBodyContainer">
            <%- include("./partials/header") %>
            <div class="createMessageContainer">
                <h1>Create Message</h1>
                <form method="post" class="createMessageForm">
                    <textarea class="messageTextArea" name="messageText" placeholder="Message Here"></textarea>
                    <button type="submit" class="defaultButton">Submit</button>
                </form>
            </div>
            <%- include("./partials/footer") %>
        </div>
    </body>
</html>