<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Join Club</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="stylesheets/style.css">
    </head>
    <body>
        <div class="mainBodyContainer">
            <%- include("./partials/header") %>
            <% if (currentUser) { %>
                <h1>Join Club</h1>
                <form method="post">
                    <input type="password" name="code" placeholder="Passcode" required>
                    <input type="submit" hidden />
                    <button type="submit" class="defaultButton">Submit</button>
                </form>
            <% } else { %>
                <div>Must be signed in</div>
                <a href="/sign-in">Sign In</a>
            <% } %>
            <%- include("./partials/footer") %>
        </div>
    </body>
</html>