.userInfoContainer {
    border: 1.5px solid black;
    width: 35rem;
    min-height: 5rem;
    height: auto;
    gap: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    font-size: 1.1rem;
}

.messageBox {
    border: 1px solid gray;
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 1rem;
}

.messageBox:hover {
    border: 1px solid gray;
    width: 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1.1rem;
    gap: 1rem;
}

.messageText {
    background-color: #f5f5f5;
    padding: 1rem;
    width: 30rem;
    height: auto;
    min-height: 2rem;
}